.box{
	width: 25%;
	float: left;
	margin-left: 5%;
	margin-bottom: 2%;
	background-color: #fff;
	padding-bottom: 2%;
	border-radius: 15px;
}

#submissions{
	margin-left: 5%;
	width: 10%;
	float: left;
}

#ideas, #inspirations{
	width: 80%;
	float: left;
}



.description{
	height: 60px;
	overflow: hidden;
}

.voted, .vote{
	margin-right: 5%;
}

.box > div{
	text-align: center;
}
